body{
background: #C5CAE9
}

div.sticky {
  color: #212121;
  position: sticky;
  background-color: #9FA8DA;
  border: 2px #B39DDB;
  max-width: 500px;
  top: 0; 
  text-align: center;
  line-height: 5;
  left: 50%;
  font-family: Inconsolata, sans-serif;
}
     
img src {
  place-items: center;
  background-color: #EDE7F6;  
}
 
   ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #9DC183;
  top: 0;
    position: fixed;
  width: 100%;
  left: 0;
}

li {
  float: left;
  display: block;
  width: 60px;
  display: inline;
  padding: 8px 16px;
  text-align: center;
}

li a {
  display: block;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111
}
