body{
background: #C5CAE9
}

div.sticky {
  color: #212121;
  position: sticky;
  background-color: #F9FBE7;
  max-width: 450px;
  top: 10; 
  text-align: center;
  line-height: 3;
  left: 32%;
  font-family: Inconsolata, sans-serif;
  border: 5px dashed #FFE0B2;
}
     
img src {
  left: 32%;
  background-color: #EDE7F6;  
}
 
   ul {
     <br>
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #9FA8DA;
  top: 0;
    position: fixed;
  width: 100%;
  left: 0;
     <br>
}

li {
  float: left;
  display: block;
  width: 60px;
  display: inline;
  padding: 8px 16px;
  text-align: center;
}

li a {
  display: block;
  color: #5C6BC0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #5C6BC0
}
